.header {
	background: #2C2C2C;
	padding-bottom: 20px;
	padding-top: 20px;
}

.header-title {
	color: #FFFFFF;
	font-size: 56px !important;
	font-family: monaco;
}

.header-subtitle {
	color: #FFFFFF;
	font-family: monaco;
	font-size: 18px !important;
}

.header-description {
	color: #FFFFFF;
	font-family: monaco;
	font-size: 14px !important;
}

.default-text {
	color: #4C4C4C;
	font-size: 20px !important;
	font-family: monaco;
}

.default-color {
	font-family: monaco;
	color: #4C4C4C;
}

#footer {
	background: #2C2C2C;
	padding-top: 18px;
	padding-bottom: 8px;
}

#footerLabel {
	color: #FFFFFF;
	font-family: monaco;
}

#errorAlert {
	opacity: 100 !important;
	font-family: monaco;
}