html, body {
  height: 100%;
}

#main-container {
	min-height: 40%;
}

#summary {
	font-size: 12px;
	line-height: 0%;
}

.header {
	background: #2C2C2C;
	padding-bottom: 20px;
	padding-top: 20px;
}

.header-title {
	font-family: monaco;
	color: #FFFFFF;
	font-size: 56px !important;
}

.header-subtitle {
	font-family: monaco;
	color: #FFFFFF;
	font-size: 18px !important;
}

.header-description {
	font-family: monaco;
	color: #FFFFFF;
	font-size: 14px !important;
}

.default-text {
	font-family: monaco;
	color: #4C4C4C;
	font-size: 20px !important;
}

.default-color {
	font-family: monaco;
	color: #4C4C4C;
}

.footer {
	background: #2C2C2C;
	padding-top: 18px;
	padding-bottom: 8px;
}

#footerLabel {
	font-family: monaco;
	color: #FFFFFF;
}

#errorAlert {
	font-family: monaco;
	opacity: 100 !important;
}

.table {
    table-layout: fixed;
}