.custom-file {
	width: 100% !important;
	height: 200px !important;
	margin-bottom: 20px;
}

.custom-file-label {
	width: 100% !important;
	height: 200px !important;
	margin-bottom: 20px;
	text-align: center;
	padding: 80px 0;
}

.custom-file-input {
	width: 100% !important;
	height: 200px !important;
	margin-bottom: 20px;
}